.app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 320px) {
  .app {
    max-width: 90%;
  }
}

.button:hover,
.link:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear 0.3s;
}

.section-title {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  max-width: 1140px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -0.7px;
    padding-bottom: 28px;
  }
}
