.app {
  font-family: "Inter", "Arial", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.button:hover,
.link:hover {
  opacity: 0.8;
  transition: opacity 0.5s linear 0.3s;
}

.section-title {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  max-width: 1140px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -0.7px;
    padding-bottom: 28px;
  }
}
