.project-details {
  color: #fff;
  margin: 112px 70px 113px 70px;
  display: flex;
  flex-direction: column;
}

.project-details__title {
  margin: 0;
}

.project-details__container {
  margin: 70px 0 110px 0;
  display: flex;
  justify-items: start;
  text-align: start;
  justify-content: space-between;
}

.project-details__block {
  margin-right: 40px;
}

.project-details__block:last-of-type {
  margin-right: 0;
}

.project-details__subtitle {
  margin: 0;
  margin-bottom: 26px;
  max-width: 550px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.project-details__text {
  margin: 0;
  max-width: 550px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.project-details__time {
  display: flex;
  max-width: 1140px;
}

.project-details__backend {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.project-details__time-title {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 9px 0;
}

.project-details__time-title_backend {
  color: #000;
  background-color: #3ddc84;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.project-details__time-title_frontend {
  background-color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.project-details__frontend {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.project-details__time-text {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
  margin-top: 14px;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .project-details {
    margin: 0 50px;
  }

  .project-details__backend {
    width: 22%;
  }

  .project-details__title {
    margin-top: 90px;
  }
  .project-details__container {
    margin-bottom: 93px;
  }
  .project-details__block {
    margin-right: 30px;
  }
  .project-details__subtitle {
    margin-bottom: 22px;
  }
  .project-details__text {
    font-size: 12px;
    line-height: 18px;
  }
  .project-details__time {
    margin-bottom: 90px;
  }
  .project-details__time-text {
    font-family: "Inter", "Arial", sans-serif;
  }
  .project-details__time-title_frontend,
  .project-details__time-title_backend {
    padding: 10px 26px;
  }
}

@media screen and (max-width: 600px) {
  .project-details {
    margin: 0 18px;
  }
  .project-details__title {
    margin-top: 72px;
  }

  .project-details__container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 284px;
    row-gap: 56px;
    margin: 0 auto;
    margin-bottom: 62px;
    margin-top: 61px;
  }
  .project-details__block {
    margin-right: 0;
  }
  .project-details__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .project-details__text {
    font-size: 11px;
    line-height: 16px;
  }
  .project-details__time {
    margin-bottom: 66px;
  }
  .project-details__backend {
    width: 124px;
  }
  .project-details__time-title_backend,
  .project-details__time-title_frontend {
    font-size: 11px;
  }
  .project-details__time-text {
    font-size: 11px;
    margin-top: 10px;
  }
}
